<template>
	<div id="centerContent" @keyup.enter="addWord()">
		<MyForm v-for="(item, index) in wordList" :key="index"/>
	</div>
</template>

<script>
	import $ from 'jquery'
	import MyForm from './MyForm.vue'
	
	export default {
		name: 'CenterContent',
		components: {
			MyForm
		},
		data: function() {
			return {
				wordList:[MyForm]
			}
		},
		methods:{
			setHeightAndWidth() {
				$('#centerContent').height($(window).height()-51)
			},
			addWord(index) {
				this.wordList.splice(1, 0, MyForm)
			}
		},
		created() {
			window.addEventListener('resize', this.setHeightAndWidth)
		},
		mounted() {
			this.setHeightAndWidth()
		}
	}
</script>

<style scoped="scoped">
	#centerContent {
		display: block;
		text-align: center;
	}
</style>
