<template>
	<Menu id="leftContent">
		<MenuItem v-for="(item, index) in itemList" :key="index" :name="item.title">
			<Icon type="md-book" />
			{{item.title}}</MenuItem>
	</Menu>
</template>
	
<script>
	import $ from 'jquery'
	export default {
		name: 'LeftContent',
		props: ['itemList'],
		data: function() {
			return {
				nowItem: this.itemList[0].title
			}
		},
		created() {
			console.log(this.nowItem)
		}
	}
</script>

<style scoped>
	
</style>
