<template>
	<div class="myForm">
		<Form ref="formInline" :model="formInline" inline>
		    <FormItem prop="word">
		        <Input ref="input" type="text" v-model="formInline.word" placeholder="Word" />
		    </FormItem>
		    <FormItem prop="wordType">
		        <Input type="text" v-model="formInline.wordType" placeholder="WordType" />
		    </FormItem>
			<FormItem prop="chinese">
		        <Input type="text" v-model="formInline.chinese" placeholder="Chinese" />
		    </FormItem>
		    <Button class="myButton" @click="handleSubmit()" type="primary" shape="circle" icon="ios-megaphone"></Button>
			<Button class="myButton" @click="deleteWord()" type="primary" shape="circle" icon="ios-trash"></Button>
			<FormItem prop="PracticeWorld">
		        <Input type="text" v-model="formInline.PracticeWorld" placeholder="PracticeWorld" 
					@on-keyup.space="checkPractice()" @on-focus="hideWord" @on-blur="showWord"/>
		    </FormItem>
		</Form>
	</div>
</template>
<script>
    export default {
		name: 'MyForm',
        data () {
            return {
				isHide: '>.<',
                formInline: {
					id: '',
                    word: '',
                    wordType: '',
					chinese: '',
					PracticeWorld: ''
                }
            }
        },
        methods: {
            handleSubmit() {
				if (this.formInline.word == '' || this.formInline.word == null) {
					this.handleFocus('start')
				} else {
					
				}
            },
			checkPractice() {
				
				//判断输入的单词是否与前面相同
				if (this.isHide == '' || this.isHide == null) {
					this.handleFocus('start')
				} else {
					if (this.isHide+' ' == this.formInline.PracticeWorld) {
						this.$Message.success('Success')
					} else {
						this.$Message.error('Wrong!')
					}
				}
				this.formInline.PracticeWorld = ''
			},
			hideWord() {
				this.isHide = this.formInline.word
				this.formInline.word = '>.<'
			},
			showWord() {
				this.formInline.word = this.isHide
				this.isHide = '>.<'
			},
			deleteWord() {
				this.$el.parentNode.removeChild(this.$el)
			},
			handleFocus (type) {
				if (type === 'preventScroll') {
					this.$refs.input.focus({
						preventScroll: true
					});
				} else {
					this.$refs.input.focus({
						cursor: type
					});
				}
			}
        }
    }
</script>
<style>
	.myForm {
		padding-top: 10px;
		margin-bottom: -15px;
	}
	
	.myButton {
		margin-right: 15px;
	}
</style>
