<template>
	<div id="rightContent">
		<Input v-model="value" type="textarea" :autosize="true" :disabled="isPractice" placeholder="Practice Word"
				@on-blur="whenBlur"/>
	</div>
</template>
	
<script>
	import $ from 'jquery'
	export default {
		name: 'RightContent',
		data: function() {
			return {
				value: '',
				isPractice: true
			}
		},
		methods: {
			setHeight() {
				$('#rightContent').height($(window).height()-51)
			},
			whenBlur() {
				this.isPractice = true
			}
		},
		created() {
			window.addEventListener('resize', this.setHeight)
		},
		mounted() {
			this.setHeight()
		}
	}
</script>

<style scoped>
	#rightContent {
		padding-top: 10px;
		padding-right: 5px;
	}
</style>
