<template>
	<div class="top">
		<img class="logo" src="../assets/logo.png" />
		<span class="title">English Study</span>
		<Button @click="clickButton()" class="button" :size="buttonSize" type="text" shape="circle">👉START👈</Button>
	</div>
</template>

<script>
	export default {
		name: 'TopContent',
		data: function() {
			return {
				buttonSize: 'large'
			}
		},
		methods:{
			clickButton: function () {
				this.$emit('addDay', {title:'Three Day'})
			}
		}
	}
</script>

<style scoped>
	.top {
		height: 50px;
		background-color: #2d8cf0;
		
		color: #ffffff;
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}
	
	.logo {
		width: 50px;
		height: 50px;
		margin-left: 10px;
		vertical-align: middle;
	}
	
	.title {
		line-height: 50px;
		font-size: 28px;
		font-weight: bold;
		margin-left: 10px;
		vertical-align: middle;
	}
	
	.button {
		float: right;
		color: white;
		font-weight: bold;
		margin: 6px 10px 0 0;
	}
</style>
