<template>
	<div id="app" class="leaseRoomList test-1">
		<TopContent @addDay="addDay($event)"/>
		<Row>
			<Col span="2">
				<LeftContent :itemList="dayList"/>
			</Col>
			<Col span="22">
				<CenterContent/>
			</Col>
		</Row>
	</div>
</template>

<script>
import TopContent from './components/TopContent.vue'
import LeftContent from './components/LeftContent.vue'
import CenterContent from './components/CenterContent.vue'
import RightContent from './components/RightContent.vue'
import ParentCard from './components/test/ParentCard.vue'

export default {
	name: 'app',
	data: () => ({
		dayList: [
			{title:'Two Day'},
			{title:'One Day'}
		]
	}),
	methods: {
		addDay(day) {
			this.dayList.splice(0, 0, day)
		}
	},
	components: {
		TopContent,
		LeftContent,
		CenterContent,
		RightContent,
		ParentCard
	}
}
</script>

<style>
#app {
	height: 100%;
}


</style>
